div {
  box-sizing: border-box;
}

:root {
  --widthWhite: 100% / (52 * 0.7);
  --widthBlack: 100% / (80 * 0.7);
  --heightWhite: 100vw / (10 * 0.7);
  --heightBlack: 100vw / (14 * 0.7 );
}

#root {
  position: relative;
  margin: 5px; 
  bottom: 0px;
  
}

#settings{
  position: relative;
}

#statusbar{
  position: absolute;
  display: inline-block;
  left:10px;
  bottom: 0px;
}

#showcanvas {
  position: relative;
}

#input-selector {
  margin-top: 2em;
}



.white-keys > div:first-child {
  margin-left: calc( 275px + var(--widthWhite) - var(--widthBlack) / 2);
}

.white-keys > div {
  display: inline-block;
  height: calc(var(--heightWhite));
  width: calc(var(--widthWhite));
  border: black 1px solid;
    text-align: center;
  vertical-align: top;
  line-height: 370px;
  /*z-index: 0;*/
  background-color:white;
  font-size:0.9cm;
  /*position: absolute;
  Top: 100px;
  left:600px;*/
}



.black-keys {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.black-keys > div {
  display: inline-block;
  height: calc(var(--heightBlack));
  width: calc(var(--widthBlack));
  border: black 1px solid;
  background-color: black;
  margin-left: calc(var(--widthWhite) - var(--widthBlack));
  text-align: center;
  vertical-align: top;
  line-height: 150px;
  color: #ff4d4d;
  /*z-index: 0;*/
  font-size:0.9cm;
}

.black-keys > div:first-child {
  margin-left: calc( 300px + var(--widthWhite) - var(--widthBlack) / 2);
  margin-bottom: 100px;
}

.black-keys > div:nth-child(5n + 3),
.black-keys > div:nth-child(5n + 6) {
  margin-left: calc(var(--widthWhite) * 2 - var(--widthBlack));
}

/*.white-keys > div:nth-child(5n + 3),
.white-keys > div:nth-child(5n + 6) {
  
} */

div.pressed {
  background-color: #b3ffff;
  z-index: 1;
}

div.support{
  background-color: #ffff00;
}

#slider{
  opacity: 1;
  transition: opacity 1s;
}

#slider.fadeOut{
  opacity: 0;
}

/*＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊選項排版＆美化＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊*/

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: absolute;
    top:10px;
    right 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width:350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}